/* Login Page Container */
.login-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

/* Headings */
.login-container h2 {
  text-align: center;
}

/* Form Inputs and Select */
.login-container input,
.login-container select {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

/* Buttons */
.login-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #45a049;
}

/* Error Message */
.error-message {
  color: red;
  text-align: center;
}

/* Toggle Button */
.auth-toggle-button {
  margin-top: 10px;
  font-size: 16px;
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.auth-toggle-button:hover {
  background-color: #007bb5;
}
